.Default-header {
  background-color: #0d1117;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c9d1d9;
}

.Default-link {
  color: #61dafb;
}

@keyframes Default-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}