.content {
    padding-left: 20%;
    padding-right: 20%;
}

.divider {
    font-size: 80px;
    color: #ebe9e5;
}

.title {
    font-size: 80px;
    color: #ebe9e5;
}

.formula {
    color: #ebe9e5;
}

.subtitle {
    font-size: 40px;
    color: #ebe9e5;
}

.paragraph {
    font-size: 16px;
    color: #ebe9e5;
}

.disclaimer {
    font-size: 12px;
    color: #d4d0c7;
}