body {
    background-color: #282c34;
}

#SATformulabox {
    background-color: #181a1f;
    border-color: #181a1f;
    color: #ebe9e5;
    height: 40px;
    margin: 0;
}

#SATsubmit {
    height: 40px;
    margin-left: 20px;
}

#SATresults{
    background-color: #181a1f;
    border-color: #181a1f;
    white-space: pre-wrap;
    color: #ebe9e5;
    text-align: center;
    margin: 10px;
}