body {
    background-color: #282c34;
}

#usernamebox {
    background-color: #181a1f;
    border-color: #181a1f;
    color: #ebe9e5;
    height: 40px;
    margin: 0;
}

#passwordbox {
    background-color: #181a1f;
    border-color: #181a1f;
    color: #ebe9e5;
    height: 40px;
    margin: 0;
    margin-top: 5px;
}

#loading {
    color: #ebe9e5;
}

#getmarks {
    height: 40px;
    margin-left: 20px;
}

#units{
    background-color: #181a1f;
    border-color: #181a1f;
    white-space: pre-wrap;
    color: #ebe9e5;
    margin: 10px;
}

#wam{
    background-color: #181a1f;
    border-color: #181a1f;
    white-space: pre-wrap;
    color: #ebe9e5;
    text-align: center;
    margin: 10px;
}

#USYDmarkssrc{
    background-color: #181a1f;
    border-color: #181a1f;
    margin: 10px;
}