services:
  core:
    build:
      context: .
      dockerfile: ./flaskr/dockerfile.flaskr
    image: personal-website-api
    restart: always
  api:
    build:
      context: .
      dockerfile: ./reactf/infra/dockerfile.reactf
    image: personal-website-client
    restart: always
    ports:
      - "${PORT_HTTP:-80}:80"
      - "${PORT_HTTPS:-443}:443"
    volumes:
      - ${SSL_CERT_PATH:-./certs}:/etc/nginx/ssl
  tunnel:
    image: cloudflare/cloudflared:latest
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    restart: always
