{% extends 'base.html' %}

{% block title %} Sup {% endblock %}

{% block content %}
  <h1> Hey. </h1>

  <div class="entry">
    <br>
    <b style = "font-size: 150%;">Who are you?</b>
    <p>
      <br>Muqing, or Daniel. Undergraduate student at the University of Sydney, studying <strong>mechatronic engineering and computer science</strong>. (Probably) Graduating in 2024.
      {{ greet }}
    </p>
    <hr>
  </div>

  <div class="entry">
    <br>
    <b style = "font-size: 150%;">What is this place?</b>
    <p>
      <br>A website for showcasing stuff in case I ever do anything interesting.
      <br>Right now its still barebones and only contains miscellaneous tools.
      <br>Maybe one day this place will be filled with cool stuff.
    </p>
    <hr>
  </div>

  <div class="entry">
    <br>
    <b style = "font-size: 150%;">Why heroku?</b>
    <p>
      <br>So I can have an active flask backend for free.
      <br>I love python, and have next to no experience with javascript (still learning).
      <br>For now, most tools on this site are server side python.
    </p>
    <hr>
  </div>


{% endblock %}
