{% extends 'base.html' %}

{% block title %} SAT solver {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/SATsolver.css') }}">
{% endblock %}

{% block bodyscripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/SATsolver.js') }}"></script>
{% endblock %}

{% block content %}
  <h1> Truth table generator </h1>

  <div class="entry">
    <p>
      <br>This simple tool will brute force the entire truth table of your SAT formula.
      <br>Made to test out asynchronus page updates using ajax. Uses some old python script I made. <br>
      <br>Recognized operators include conjunctions, negations, disjunctions, implications, double implications.
      <br>Recognized symbols are <b>['∧','¬','∨','→','↔','(',')']</b>. Whitespaces will be ignored.
      <br>Variables can be any non-operator, non-whitespace character.<br>
      <br>Parser is dumb; all operators are left-associative and have equal precidence.
      <br>For this reason, please make sure your input is sufficiently parenthesised, to avoid unintended behaviour.
      <br>eg. <b>(x ∧ y) ∨ z</b> is good because order of operations is fully specified. Try to avoid the likes of <b>x ∧ y ∨ z</b>.
      <br>
      <form name="SATsolver">
      <input type="text" name="SATformulabox" size="80" placeholder="eg. ((a ∨ b) ∨ ¬c) ∧ ((a ∨ ¬b) ∨ c)"/>
      <button type="button" id="submitSAT" onClick="">Solve</button>
    </p>
    <hr>
  </div>

  <div class="entry">
    <p>
      <span id=result></span>
    </p>
    <hr>
  </div>

  <div class="entry">
    <p id = "disclaimer">
      <br>If you find a bug, I'm sorry (ಥ﹏ಥ)
    </p>
  </div>


{% endblock %}
