{% extends 'base.html' %}

{% block title %} SAT solver {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/USYDmarks.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"/>
{% endblock %}

{% block bodyscripts %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/USYDmarks.js') }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-python.min.js"></script>

{% endblock %}

{% block content %}
  <h1> USYD wam calculator </h1>

  <div class="entry">
    <p>
      <br>This tool will calculate your overall course wam at USYD, using all previous units for which results are published.
      <br>The formula used is: <b>\[ \frac{\sum_{}^{} (UOS\_mark \times UOS\_CP)}{\sum_{}^{} (UOS\_CP)}\]</b>
      I swear, swear, swear, by the moon and the stars in the sky, cross my heart and hope to die, so help me god, that <b>this won't record any of your private information.</b>
      It needs your login credentials to log into Sydney Student and access your records. Full source code is attached, but if you're still apprehensive, feel free to refrain from using this tool.
      <br>Results are for reference only. I accept no responsibility. Please use your better judgement when using any information obtained from this tool.
      <br>
      <form name="loginform">
      <input type="text" name="usernamebox" size="40" placeholder="unikey"/><br>
      <input type="text" name="passwordbox" size="40" placeholder="password"/>
      <button type="button" id="submitCredentials" onClick="">Get WAM</button>
      <div id = "loading"><br>Logging in to sydney student... <img src="{{url_for('static',filename = 'assets/loading.gif')}}" height="24px" width=“24px”></div>
    </p>
    <hr>
  </div>

  <div class="entry">
    <p>
      <span id=units></span>
    </p>
    <hr>
    <p>
      <b><span id=wam></span></b>
    </p>
    <hr>
  </div>


  <div class="entry">
    <pre><code id=USYDmarkssrc class="language-python">{{code}}</code></pre>
    <hr>
    <br>
  </div>

  <div class="entry">
    <p id = "disclaimer">
      <br>If you find a bug, I'm sorry (ಥ﹏ಥ)... Shoot me an email about it.
    </p>
  </div>


{% endblock %}
