{% extends 'base.html' %}

{% block title %} Sup {% endblock %}

{% block content %}
  <h1> Welcome. </h1>

  <div class="entry">
    <br>
    <b style = "font-size: 150%;">About me</b>
    <p>
      <br>Muqing, or Daniel. Undergraduate student at the University of Sydney, studying <strong>mechatronic engineering and computer science</strong>. Graduating in Dec 2024. Looking for an internship.
      {{ greet }}
      <br>
    </p>
    <hr>
  </div>

  <div class="entry">
    <br>
    <b style = "font-size: 150%;">About this site</b>
    <p>
      <br>Thanks for visiting my lonely abode.
      <br>This place for showcasing interesting stuff.
      <br>Right now its still in its infancy.
      <br>Look around and see if you find anything useful. If you have any suggestions feel free to email me.
      <br>
      <br>Self hosted on a Raspberry Pi 4B. 
      <br>(Previously hosted on Heroku, until the end of their free plans...)
    </p>
    <hr>
  </div>

{% endblock %}
