.navbar > .container {
    max-width: 100%;
  }
  
  .navbar {
    margin: 0;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  #resume {
    margin: 0px 10px;
    background-color: #6e6e6e;
  }

  #email {
    margin: 0px 10px;
    background-color: #106ebe;
  }

  #github {
    margin: 0px 10px;
    background-color: #333333;
  }

  #linkedin {
    margin: 0px 10px;
    background-color: #0082ca;
  }