.Default-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.Default-link {
  color: #333333;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.Default-link:hover {
  color: #000000;
  text-decoration-thickness: 2px;
}